/* tipografias */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sigmar&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --tipografia_gruesa: "Sigmar", serif;
  --tipografia_delgada: "Lato", serif;
  --negro: #23272a;
  --morado: red;
  --gris: #f6f6f6;
}
body {
  font-family: var(--tipografia_delgada);
  font-size: 16px;
  line-height: 24px;
  color: #333;
}
html {
  scroll-behavior: smooth;
}
.ancho {
  max-width: 1200px;
  margin: auto;
  /* border: 1px red solid; */
}
.margen {
  padding: 15px;
}
header {
  background-color: var(--negro);
  color: white;
}
.logo_discord {
  width: 124px;
}
.logo_discord img {
  width: 100%;
}
.contenedor_menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  color: white;
  gap: 15px;
}
.contenedor_menu ul li a {
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}
.btn_blanco {
  padding: 7px 20px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  background-color: white;
  color: var(--negro);
  border-radius: 40px;
  display: inline-block;
}
.contenedor_cabecera {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: nowrap;
}
.contenedor_slide {
  background-color: var(--negro);
  color: white;
}
h1 {
  font-family: var(--tipografia_gruesa);
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
}
main {
  max-width: 550px;
}
.contenedor_slide figure {
  max-width: 550px;
}
.contenedor_slide figure img {
  width: 100%;
  display: block;
}
.contenedor_slide_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.btn_morado {
  padding: 10px 30px;
  border-radius: 40px;
  background-color: var(--morado);
  color: white;
  text-decoration: none;
  display: inline-block;
}
.contenedor_slide_info span {
  padding-left: 30px;
}
.margenderecha {
  padding-right: 10px;
}
.icono_menu {
  color: white;
  font-size: 25px;
  display: none;
}
.contenedor_login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
